<!doctype html>
<html>
<head>
  <title>SpinStand Database</title> 
</head>
<body>
    <h1>Person Table</h1>
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
        </tr>
        {% for person in collection %}
        <tr>
           <td>{{person[0]}}</td>
           <td>{{person[1]}}</td>
           <td>{{person[2]}}</td>
        </tr>
        {% endfor %}
      </table>

        <form method="GET" action="/">
          First Name: <input type="text" name="FirstName"><br>
          Last Name: <input type="text" name="LastName"><br>
          Phone Number: <input type="text" name="PhoneNumber"><br>
          <input type="submit" value="submit">
        </form>

</body>
</html>