{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing Sections{% endblock %}


{% block content %}

<table>
  <tr>
    <th>Order ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  {% for row in sectionList %}
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      {{row[2]}}
    </td>
    <td>
      <a href="/showStudents?section_id={{row[0]}}">View Registered Students</a><br />
    </td>
  </tr>
  {% endfor %}
</table>

{% if othersections %}
<form>
  <select name="register_section_id">
    <option>Register for another section</option>
    {% for othersection in othersections %}
    <option value='{{ othersection[0] }}'>{{othersection[1]}} Section {{othersection[2]}} (CRN {{othersection[3]}})
    </option>
    {% endfor %}
  </select>
  <button type="submit" value="register">Register for new class</button>
  <input type="hidden" name="student_id" value="{{ studentId }}" />
</form>
{% endif %}

{% endblock %}